/* body begin */
body {
  padding: 0px;
  margin: 0px;
  font-family: 微软雅黑, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #fff;
  word-break: break-all;
  text-align: center;
  cursor: default;
  line-height: 20px;
  background: #769b72 url(../images/bg_grad.gif) top center no-repeat;
  cursor: default;
  color: #404040;	
  margin: 0;
  padding: 0;
}
/* body end */
a {
  cursor: pointer;
  text-decoration: none;
  color: #666;
  font-family: "微软雅黑";
  font-size: 12px;
}                                                     
a:hover {
  text-decoration: underline;
}